<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP DMED</title>
    <!-- Importando a fonte Poppins do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='interface.css') }}">
</head>
<body>

<header>
    <div class="header-left">
        <img src="/assets/images/copel.png" alt="Logo Copel">
    </div>
    <div class="header-menu">
        <a href="/dashboards"><h3>📊 Relatórios</h3></a>
        <a href="/mapa"><h3>🌍 Cobertura de sinal</h3></a>
        <a href="/cadastro_ccee"><h3>📝 Cadastro CCEE</h3></a>
        <a href="/versions"><h3>📅 Históricos de versões</h3></a>
    </div>
    <div class="header-right">
        <i class="fas fa-bell"></i>
        <i class="fas fa-user"></i>
    </div>
</header>
<div class="main-content">
  <h1 class="titulo-automações">MENU DE MACROS</h1>
    <div class="container">
        <!-- Quadrados dinâmicos -->
        <div class="macro-item t10">
            <div class="section">
                <a href="/gerar_t10">
                    <button class="gerar">⚙️ Gerar</button>
                </a>
                <a href="/concluir_t10">
                    <button class="concluir">✅ Concluir</button>
                </a>
            </div>
            <div class="faixa">
                <span>T10</span>
            </div>
        </div>

        <div class="macro-item t11">
            <div class="section">
                <a href="/gerar_t11">
                    <button class="gerar">⚙️ Gerar</button>
                </a>
                <a href="/concluir_t11">
                    <button class="concluir">✅ Concluir</button>
                </a>
            </div>
            <div class="faixa">
                <span>T11</span>
            </div>
        </div>

        <div class="macro-item t12">
            <div class="section">
                <a href="/gerar_t12">
                    <button class="gerar">⚙️ Gerar</button>
                </a>
                <a href="/concluir_t12">
                    <button class="concluir">✅ Concluir</button>
                </a>
            </div>
            <div class="faixa">
                <span>T12</span>
            </div>
        </div>
    </div>
    <div class="orange-line"></div>
    
    <!-- Container para a imagem e o texto -->
    <div class="image-text-container">
        <div class="image-container">
            <img src="/assets/images/moca_ml.png" alt="Moca ML">
        </div>
        <div class="text-container">
            <h3>Mercado livre de energia</h3>
            <p>O mercado livre de energia garante economia e dá poder de escolha para a sua empresa. Isso proporciona flexibilidades na negociação de preço, duração do contrato, quantidade de energia e prazos para pagamento. Além disso, sua empresa pode optar pela compra de energias renováveis, uma atitude que, além de gerar economia, ajuda o meio ambiente.</p>
            <p>Qualquer empresa que é atendida em alta tensão e faz parte do grupo A tem acesso ao mercado livre de energia, independente do ramo de atuação ou município em que esteja localizada.</p>
            <p>Mais de 40% da energia consumida no Brasil já está no Mercado Livre e esse percentual tende a crescer.</p>
            <p>Reduza custos e aumente a previsibilidade de suas despesas, com o suporte de uma equipe experiente e certificada. Economize no mercado livre de energia com a Copel.</p>
        </div>
    </div>
</div>
<footer>
    <div class="footer-title" style="color: #ffffff;">
        Departamento de Medição
    </div>
    <div class="row" style="color: #f06428;">
        COPEL DISTRIBUIÇÃO
    </div>
</footer>

</body>
</html>
